.no-scroll{
    overflow: hidden;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    background: rgba(60, 63, 65, 1);
    font-size: 14px;
    line-height: 1.3;
    min-width: 320px;
    margin: 0;
}
main{
    width: 100%;
    background-color: rgba(30, 30, 30, 1);
    box-shadow: 0 10px 20px 0 rgb(166, 166, 166);
}
.container{
    min-width: 320px;
    max-width: 1800px;
    margin: 0 auto;
    height: 100%;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}
.w_10{ width: 10%;}
.w_15{ width: 15%;}
.w_20{ width: 20%;}
.w_25{ width: 25%;}
.w_30{ width: 30%;}
.w_40{ width: 40%;}
.w_50{ width: 50%;}
.w_60{ width: 60%;}
.w_70{ width: 70%;}
.w_80{ width: 80%;}
.w_100{width:100%;}
.p_t_1{padding: 1em 0;}

.mb_1{ margin-bottom: 1em; }
.mb_1_5{ margin-bottom: 1.5em; }
.mb_2{ margin-bottom: 2em; }
.mb_3{ margin-bottom: 3em; }
.mb_4{ margin-bottom: 4em; }
.mb_5{ margin-bottom: 5em; }

.bg_dark_grey{background-color: rgba(30, 30, 30, 1);}
.bg_grey{background-color: rgba(60, 63, 65, 1);}
/* =================== Вход/Регистрация ======================*/
.registration{
    width: 100%;
}
.form_block{
    width: 25%;
    text-align: center;
    border: none;
    margin: auto;
}
.form_block h3{
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 0.5em 0.5em;
    margin-bottom: 0.5em;
}
.field{
    width: 100%;
    height: 3em;
    padding-left: 10px;
    border: 2px solid #a6a6a6;
    border-radius: 5px;
    outline: none;
    background: #323232;
    color: #00a859;
    margin-bottom: 1em;
}
.form_block_btn{
    background: #00a859;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 0.3em;
    text-align: center;
    width: 100%;
    height: 70px;
    margin-bottom: 2em;
}
.form_block_btn:hover{
    background: #00a859;
    color: black;
}
.bottom_box{
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
}
.bottom_box a{
    text-decoration: none;
    color: black;
    background-color: grey;
    padding: 1em;
    border-radius: 0.3em;
}
.bottom_box a:hover{
    background-color: #00a859;
}
/* =================== Вход/Регистрация ======================*/



/* =================== Header ======================*/
header{
    padding: 1em;
    margin-bottom: 1em;
}
.profile_links{
    float: right;
}
.profile_links_item{
    display: flex;
}
.profile_links_item a{
    color: #FFFFFF;
    text-decoration: none;
}
.plink{
    color: #FFFFFF;
    text-decoration: none;
    padding: 1em;
    background-color: rgba(30, 30, 30, 1);
    border: none;
}
.plink:hover{
    color: black;
    background-color: #00a859;
}
.logout{
    position: relative;
    top: -1em;
}
.no_link{
    color: #FFFFFF;
    text-decoration: none;
}

.page_links{
    width: 100%;
    display: inline-block;
}
.page{
    display: inline-block;
    text-align: center;
    width: 3%;
    color: black;
    background-color: darkgrey;
    text-decoration: none;
    border-bottom: none;
    padding: 1em;
    cursor: pointer;
    transition: .2s linear;
    font-weight: bold;
}
.page:hover{
    background-color: #00a859;
}
.previous_page{
    float: left;
}
.next_page{
    float: right;
}
.subjects{
    display: flex;
}

/* =================== Header ======================*/
/* =================== Вход ======================*/
/* =================== Вход ======================*/
/* =================== Вход ======================*/
/* =================== Вход ======================*/



